<a href="https://colab.research.google.com/github/bibekuchiha/Python-for-Data-Science-Data-Structures/blob/master/2_2_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [3]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'david', 9, 'bibek'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'david', 9, 'bibek'])

In [4]:
#only parenthesis is not enough
t = ('bibek')
type(t)

str

In [5]:
#need a comma at the end
t = ('bibek',)
type(t)

tuple

In [6]:
#parenthesis is optional
t = "bibek", 
print(type(t))

print(t)

<class 'tuple'>
('bibek',)

# Accessing Elements in Tuple

In [8]:
t = ('david', 'bibek', 'naruto', 'sauske', 'brian')

print(t[3])

sauske

In [9]:
#negative index
print(t[-1]) #print last element in a tuple

brian

In [10]:
#nested tuple
t = ('ABC', ('david', 'bibek', 'naruto', 'sauske'))

print(t[1])

('david', 'bibek', 'naruto', 'sauske')

In [11]:
print(t[1][2])

naruto

In [12]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

# Changing a Tuple

#unlike lists, tuples are immutable
#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [13]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'ex' #will get TypeError

TypeError: ignored

In [14]:
t[4][1] = 'bibek'
print(t)

(1, 2, 3, 4, [5, 'bibek', 7])

In [15]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [17]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('bibek', ) * 9)
print(t)

('bibek', 'bibek', 'bibek', 'bibek', 'bibek', 'bibek', 'bibek', 'bibek', 'bibek')

# Tuple Deletion

In [0]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

# Tuple Count

In [20]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

# Tuple Index

In [21]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1
print(t.index(1))

2
0

# Tuple Memebership

In [22]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [23]:
print(9 in t)

False

# Built in Functions

# Tuple Length

In [24]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

# Tuple Sort

In [25]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [26]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [27]:
#get the smallest element in a tuple
print(min(t))

1

In [28]:
#get sum of elments in the tuple
print(sum(t))

23